body {
    margin: 0;
    padding: 0;
}

header {
    width: 1052px;
    padding: 92px 24px 96px 24px;
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: 105px;
    gap:30px;
    align-items: center;
}

.header_menu-list {
    width: 391px;
    display: flex;
    gap: 32px;
    font-size: 18px;
    list-style: circle;
}

.header_menu-item {
    color: black;
    list-style: circle;
}

.header_menu-link-active {
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    color: black;
}

.header_menu-list .header_menu-active {
    list-style: none;
    font-size: 18px;
}

.header_adress {
    width: 241px;
    height: 98px;
    display: flex;
    flex-flow: column wrap;
    justify-self: end;
    align-items: start;
    font-family: "Raleway", serif;
    font-style: normal;
}

.telephone {
    color: black;
    font-size: 18px;
}

.email {
    color: black;
    font-size: 18px;
}

.location {
    color: black;
    font-size: 18px;
    text-align: left;
}

main {
    width: 1100px;
}

.cover {
    box-sizing: border-box;
    width: 1100px;
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bright {
    width: 1100px;
    height: 757px;
    background-color: rgb(0, 0, 0, .5);
    box-sizing: border-box;
}

.align-text {
    display: inline;
    color: white;
    font-family: "Raleway", serif;
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    line-height: 115px;
}

.first {
    display: block;
}

.aligned-text_center {
    display: inline;
    color: white;
    font-family: "Raleway", serif;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.second {
    display: block;
    text-align: center;
}

.aligned-text_right {
    display: inline;
    color: white;
    font-family: "Raleway", serif;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.third {
    display: block;
    text-align: right;
}

.block {
    padding: 165px 50px 100px 50px;

}

.under_cover {
    margin: 0 0 52px 0;
    height: 51px;
}

.underline {
    color: white;
    width: 637px;
    height: 28px;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    word-spacing: 12px;
    margin: 0 50px 62px 79px;
}

.button {
    padding: 12px 32px 11px 31px;
    margin: 0px 50px 61px 29px;
    font-size: 22px;
    color: white;
    font-family: "Raleway", serif;
    background-color: rgba(0, 0, 0, 0);  /* делаем кнопку прозрачной*/
    border: 0.5px solid white; /* делаем кнопку: толщина тип границы цвет */
    text-transform: uppercase; /* загоняем в верхний регистр */
}

.lots {
    width: 1052px;
    height: 692px;
    margin: 179px 24px 146px 24px;
}

.lots_title {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    font-family: "Raleway", serif;
    display: block;
    margin: 0 891px 27px 40px;
}

.lots_cards {
    width: 1052px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 563px;
    gap: 25px;
}

.one {
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.two {
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.three {
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.bright-small {
    height: 563px;
    background-color: rgb(0, 0, 0, .5);
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 51px 40px 48px 40px;
}

.header_lot {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.2;
}

.text_lot {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.2;
}

.more {
    display: block;
    color: black;
    font-family: "Raleway", serif;
    font-size: 20px;
    font-weight: 200;
    text-decoration: underline;
    padding: 30px 102px 0px 40px;
}

.about {
    width: 1052px;
    height: 595px;
    margin: 0 26px 180px 26px;
    display: grid;
    grid-template-columns: 287px 1fr;
    grid-template-rows: 595px;
    gap: 72px;
}

.about_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 72px 320px 47px;
    width: 240px;
    height: 240px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #000;
}

.about_logo-image {
    width: 148px;
    height: 114px;
}

.about_column {
   display: inline-block;
   width: 693px;
   height: 449px;
   margin: 133px 0 13px 0;
}

.about_column-header {
    font-size: 40px;
    font-family: "Raleway", serif;
    text-transform:uppercase;
    margin: 3px 402px 100px 0;
    display: inline-block;
}

.about_column-text {
    font-size: 20px;
    box-sizing: border-box;
    font-family: 'Raleway', serif;
    line-height: 1.14;
    display: inline-block;
}

.now {
    margin: 0 5px 24px 0;
}

.footer {
    width: 1000px;
    height: 98px;
    display: grid;
    grid-template-columns: 240px 149px 1fr;
    grid-template-rows: 98px;
    gap: 185px;
    margin: 5px 50px 88px 50px;
    box-sizing: border-box;
}

.header_menu-list-1 {
    width: 149px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 18px;
    list-style: none;
    font-family: "Raleway", serif;
    margin-top: 0;
    padding-left: 0;
}

.symbols {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 48px;
    margin: 0 50px 16px 0;
}

.symbols_logo {
    width: 48px;
    height: 48px;
}